.header {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 164px;
  &__wrapper {
    justify-content: space-between;
  }

  &__logo {
    &-link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      align-items: flex-end;
    }
    &-year {
      position: absolute;
      right: -25px - 8px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__nav-link {
    position: relative;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    &:hover {
      color: $brandColor;
    }
  }

  &__social-link {
    margin-right: 12px;
  }
  &__menu {
    display: flex;
    align-items: center;
  }

  &__tel-link {
    margin-right: 28px;
  }
  &__btn {
    padding-right: 51px;
  }
}
