.header {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  margin-bottom: 164px - 24px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: $white;
  transition: $defTransitionTime;
  &.hidden {
    transform: translateY(-100%);
  }

  &__wrapper {
    justify-content: space-between;
  }
  &__mobile-btn {
    display: none;
  }

  &__logo {
    &-link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      align-items: flex-end;
    }
    &-year {
      position: absolute;
      right: -25px - 8px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__nav-link {
    position: relative;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    &:hover {
      color: $brandColor;
    }
  }

  &__social-link {
    margin-right: 12px;
  }
  &__menu {
    display: flex;
    align-items: center;
  }

  &__tel-link {
    margin-right: 28px;
  }
  &__btn {
    padding-right: 51px;
  }
  &__burger-btn {
    display: none;
    &:focus {
      outline: none;
    }
  }
}

.ham {
  width: 64px;
  height: 64px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $black;
  stroke-width: 6;
  stroke-linecap: round;
}
