@font-face {
  font-family: 'Suisse Intl';
  font-weight: 300;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-Light.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-LightItalic.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-weight: 400;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-Regular.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-RegularItalic.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-weight: 500;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-Medium.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-MediumItalic.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-weight: 600;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-SemiBold.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-SemiBoldItalic.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-weight: 700;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-Bold.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-BoldItalic.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-weight: 900;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-Book.otf');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/SuisseIntl/SuisseIntl-BlackItalic.otf');
}
