.main {
  margin-top: 230px;
}

.logo {
  width: 107px;
  height: 17.258px;
  object-fit: contain;
  object-position: center;
}

.tel-link {
  position: relative;
  color: $brandColor;
  font-family: $mainFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  &:hover {
    color: $black;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 67px);
  background-color: $white;
  z-index: 20;
  padding: 32px;
  top: 67px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  overflow-y: auto;
  gap: 32px;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid rgba($color: $gray, $alpha: 0.2);
  transition: $defTransitionTime;
  display: none;
  &.active {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    gap: 24px;
    &-link {
      font-size: 18px;
    }
  }

  &__btn {
    width: fit-content;
    margin-top: auto;
  }
}

.promo-section {
  &__wrapper {
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 64px;
  }

  &__slogan {
    max-width: 325px;
    font-size: 22px;
  }
}

.video-section {
  width: 100%;
  position: sticky;
  left: 0;
  top: 96px;
  z-index: -1;
  &__video-wrapper {
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      width: 556px;
      height: 554.25px;
      position: absolute;
      background-image: url('../assets/img/player-lines.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 2;
      left: 0;
      bottom: 0;
    }
    &::before {
      content: '';
      width: 351.11px;
      height: 350px;
      position: absolute;
      background-image: url('../assets/img/player-lines-2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 2;
      right: 0;
      top: 0;
    }
  }

  &__video {
    width: 100%;
    height: 810px;
    object-fit: cover;
    object-position: center;
    border-radius: 48px 48px 0px 0px;
    background: $brandColor;
  }
}

.advantages-section {
  // position: relative;
  position: sticky;
  left: 0;
  top: 0;
  border-radius: 48px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: $white;
  z-index: 2;
  padding: 48px 0;
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 512px);
    gap: 8px;
  }

  &__list-item-video {
    z-index: -1;
  }

  &__list-item-video,
  &__list-item-bg {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__list-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 32px;
    border-radius: 32px;
    border: 1px solid #ebebeb;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: $defTransitionTime;
    &:first-child,
    &:nth-child(3) {
      background-image: url('../assets/img/advantages-lines-1.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    &:nth-child(2) {
      background-image: url('../assets/img/advantages-lines-2.svg');
      background-repeat: no-repeat;
      background-position: right top;
    }

    &_count {
      align-items: flex-start;
      justify-content: start;
    }

    &_video {
      &:hover {
        video {
          opacity: 1;
        }
        .advantages-section__list-item-subheading,
        .advantages-section__list-item-count {
          color: $white;
        }
      }
      &.view {
        video {
          opacity: 1;
        }
        .advantages-section__list-item-subheading,
        .advantages-section__list-item-count {
          color: $white;
        }
      }
    }

    &_image {
      &-black {
        &:hover {
          background-color: $black;
          .advantages-section__list-item-bg {
            opacity: 1;
          }
        }
        &.view {
          background-color: $black;
          .advantages-section__list-item-bg {
            opacity: 1;
          }
        }
      }
      &:hover {
        .advantages-section__list-item-subheading,
        .advantages-section__list-item-count {
          color: $white;
        }
      }
      &.view {
        .advantages-section__list-item-subheading,
        .advantages-section__list-item-count {
          color: $white;
        }
      }
    }

    &-heading {
      color: $black;
      font-family: $mainFont;
      font-size: 29px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      letter-spacing: -0.58px;
      span {
        color: $brandColor;
      }
    }
  }

  &__list-item-img {
    width: 100%;
    max-width: 320px;
    margin: auto;
    object-fit: contain;
  }

  &__list-item-subheading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 24px;
    color: rgba($color: $black, $alpha: 0.4);
    font-family: $mainFont;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    transition: $defTransitionTime;
    z-index: 4;
  }

  &__list-item-count {
    color: $black;
    font-family: $mainFont;
    font-size: 104px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.56px;
    transition: $defTransitionTime;
    z-index: 4;
  }

  &__list-item-video {
    transition: $defTransitionTime;
    opacity: 0;
  }

  &__list-item-bg {
    opacity: 0;
    transition: $defTransitionTime;
    &_80 {
      width: 97%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      object-fit: contain;
      object-position: bottom;
    }
  }
}

.instruments-section {
  position: sticky;
  left: 0;
  top: 96px;
  z-index: 14;
  padding-top: 72px;
  padding-bottom: 49px;
  background-image: url('../assets/img/instrument-bg-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 48px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: $defTransitionTime;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__row {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }

  &__text-contet {
    max-width: 604px;
    p {
      color: #fff;
    }
  }

  &__swiper {
    width: 100%;
    overflow: visible;
    .swiper-wrapper {
      transition: linear;
    }
  }

  &__swiper-navigation {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-bottom: 24px;
  }

  &__swiper-navigation-btn {
    cursor: pointer;
    transition: $defTransitionTime;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__swiper-slide {
    width: 100%;
    max-width: 452px;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 40px 32px;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    cursor: pointer;
    transition: $defTransitionTime;
    z-index: 1;
    &:hover {
      transform: scale(1.05);
      z-index: 10;
      .instruments-section__swiper-slide-heading {
        color: $brandColor;
      }
    }
    &:active {
      transform: scale(0.95);
    }
    &.active {
      .instruments-section__swiper-slide-heading {
        color: $brandColor;
      }
      &:hover {
        transform: scale(1);
      }
    }
  }

  &__swiper-slide-heading {
    margin-bottom: 24px;
    font-size: 32px;
    letter-spacing: -2%;
    font-family: $mainFont;
    color: $black;
    transition: 0.3s;
  }

  &__swiper-slide-text {
    margin-bottom: auto;
    font-size: 22px;
    line-height: 31.2px;
    letter-spacing: -2%;
  }
}

.about-section {
  padding-top: 88px;
  &__wrapper {
    margin-bottom: 128px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 28px;
  }
  &__row {
    width: 100%;
    margin-bottom: 96px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }

  &__text-content {
    max-width: 604px;
    p {
      @extend .text;
      span {
        color: $brandColor;
      }
    }
  }

  // &__overlay {
  //   position: relative;
  //   width: 100%;
  //   padding: 40px 32px;
  //   min-height: 900px;
  //   border-radius: 48px;
  //   background-color: $brandColor;
  //   background-image: url('../assets/img/about-bg.png'),
  //     url('../assets/img/about-lines-1.svg'),
  //     url('../assets/img/about-lines-2.svg');
  //   background-size: cover, auto, auto;
  //   background-repeat: no-repeat;
  //   background-position: center, left top, bottom right;
  // }

  // &__overlay-message {
  //   position: absolute;
  //   padding-bottom: 204px;
  //   background-image: url('../assets/img/about-message-line.svg');
  //   background-repeat: no-repeat;
  //   background-position: right 75px bottom;
  //   transition: $defTransitionTime;
  //   &.active {
  //     background-image: unset;
  //   }
  //   &.hidden {
  //     opacity: 0;
  //     visibility: hidden;
  //   }
  //   &:hover {
  //     .about-section__overlay-popup {
  //       opacity: 1;
  //       visibility: visible;
  //     }
  //   }
  //   &_first {
  //     top: 3%;
  //     left: 14%;
  //   }
  //   &_second {
  //     padding-bottom: 101px;
  //     right: 26%;
  //     bottom: 33%;
  //     background-image: url('../assets/img/about-message-line-2.svg');
  //     .about-section__overlay-popup {
  //       top: 47%;
  //     }
  //   }
  // }

  // &__overlay-message-text {
  //   padding: 20px 24px;
  //   border-radius: 100px;
  //   background: rgba(255, 255, 255, 0.4);
  //   backdrop-filter: blur(32px);
  //   color: $white;
  //   font-family: $mainFont;
  //   font-size: 24px;
  //   font-style: normal;
  //   font-weight: 400;
  //   line-height: normal;
  //   letter-spacing: -0.48px;
  // }
  // &__overlay-popup {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 28%;
  //   margin: 0 auto;
  //   width: 100%;
  //   max-width: 310px;
  //   height: fit-content;
  //   padding: 24px 16px;
  //   border-radius: 24px;
  //   border: 1px solid #ebebeb;
  //   background: $white;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: 24px;
  //   visibility: hidden;
  //   opacity: 0;
  //   transition: $defTransitionTime;
  //   z-index: 10;
  //   &.active {
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }

  // &__overlay-popup-img {
  //   width: 100%;
  //   height: 172px;
  //   object-fit: contain;
  // }

  // &__overlay-popup-heading {
  //   color: $black;
  //   font-family: $mainFont;
  //   font-size: 16px;
  //   font-style: normal;
  //   font-weight: 400;
  //   line-height: normal;
  //   letter-spacing: -0.32px;
  // }

  // &__overlay-popup-btn {
  //   padding: 14px 24px;
  //   width: 100%;
  //   text-align: center;
  //   color: #fff;
  //   font-family: $mainFont;
  //   font-size: 16px;
  //   font-style: normal;
  //   font-weight: 400;
  //   line-height: normal;
  //   letter-spacing: -0.32px;
  // }

  &__layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
  }

  &__card {
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px solid rgba(235, 235, 235, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../assets/img/card-bg.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 24px;
    &:hover {
      box-shadow: 0px 4px 40px rgba($color: $black, $alpha: 0.1);
      .about-section__card-bg {
        opacity: 1;
      }
      .about-section__card-heading {
        color: $brandColor;
      }
    }
  }

  &__card-img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
  }

  &__card-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
    opacity: 0;
    transition: $defTransitionTime;
  }

  &__card-heading {
    margin-left: 24px;
    margin-bottom: 32px;
    margin-right: 58px;
    font-size: 18px;
    letter-spacing: -2%;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
    transition: $defTransitionTime;
  }
}

.owner-section {
  padding-top: 128px;
  padding-bottom: 190px;
  z-index: 13;
  &.view {
    .owner-section__review {
      background-position: right bottom, left top;
    }
    .owner-section__name,
    .owner-section__who {
      opacity: 1;
    }
  }
  &__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__review {
    width: 100%;
    max-width: 1135px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../assets/img/right-blockquote.svg'),
      url('../assets/img/blockquote-left.svg');
    background-repeat: no-repeat;
    background-position: right 97px bottom, left 97px top;
    transition: 1.3s;
  }

  &__review-img {
    width: 104px;
    height: 104px;
    margin-bottom: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__review-text {
    font-size: 34px;
    margin-bottom: 56px;
    span {
      color: $brandColor;
    }
  }

  &__name {
    margin-bottom: 18px;
    color: $brandColor;
    text-align: center;
    font-family: $mainFont;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 30.4px */
    letter-spacing: -1.28px;
    opacity: 0;
    transition: 1.3s;
  }

  &__who {
    max-width: 289px;
    color: $black;
    text-align: center;
    font-family: $mainFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    opacity: 0;
    transition: 1.3s;
  }
}

.dev-section {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: $brandColor;
  border-radius: 48px;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  &__content {
    width: 100%;
    margin-bottom: 104px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 28px;
  }

  &__heading {
  }

  &__text-content {
    max-width: 604px;
    p {
      @extend .text;
      color: $white;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 453px);
    gap: 8px;
  }

  &__list-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 40px 32px;
    border: 1px solid #ebebeb;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../assets/img/dev-card-ines.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: $defTransitionTime;
    &:hover,
    &.view {
      background-color: $black;
      border: 1px solid $black;
      background-image: none;
      .dev-section__list-item-heading {
        opacity: 0;
        visibility: hidden;
      }
      .dev-section__list-item-hidden-text {
        opacity: 1;
        visibility: visible;
      }
    }
    &_no-anim,
    &_no-anim:hover {
      background-color: $white;
      border: none;
      .dev-section__list-item-heading {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list-item-heading {
    color: $black;
    font-family: $mainFont;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 31.9px */
    letter-spacing: -0.58px;
    transition: $defTransitionTime;
  }

  &__list-item-hidden-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    color: $white;
    @extend .dev-section__list-item-heading;
  }

  &__list-item-img {
    width: 95%;
    height: 250px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.projects-section {
  margin-top: 80px;
  margin-bottom: 161px;
  &__wrapper {
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    max-width: 528px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    gap: 40px;
  }

  &__heading {
  }

  &__tabs {
    position: relative;
    width: 100%;
  }

  &__tab {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 40px;
    visibility: hidden;
    opacity: 0;
    transition: $defTransitionTime;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tab-text {
    color: $black;
    font-family: $mainFont;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.56px;
  }

  &__tab-subtext {
    color: rgba(0, 0, 0, 0.6);
    font-family: $mainFont;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.56px;
  }

  &__swiper {
    width: 100%;
    max-width: 666px;
    border-radius: 16px;
    padding-bottom: 29px;
    overflow: hidden;
    margin: 0;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background-color: rgba($color: $brandColor, $alpha: 0.4);
      opacity: 1;
      &-active {
        background-color: $brandColor;
      }
    }
    &-slide {
      position: relative;
      &::after {
        content: '';
        width: 350px;
        height: 350px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../assets/img/slide-lines.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 11;
      }
    }
    &-navigation {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      padding: 0px 24px;
    }
    &-nav-btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: $defTransitionTime;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.95);
      }
    }
    &-pagination {
      width: 100%;
    }
  }

  &__swiper-slide {
    width: 100%;
  }

  &__swiper-slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-disabled {
  opacity: 0.4;
}

.contacts-section {
  &__wrapper {
    justify-content: space-between;

    gap: 16px;
  }

  &__info {
    width: 100%;
    max-width: 535px;
  }

  &__info-header {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #ebebeb;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    &_large {
      gap: 21px;
    }
  }

  &__info-item-heading {
    color: $brandColor;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__info-address {
    color: $black;
    font-family: $mainFont;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.32px;
  }

  &__info-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    padding: 70px 0;
    border-bottom: 1px solid #ebebeb;
  }

  &__info-item-link {
    font-size: 18px;
    transition: $defTransitionTime;
    &:hover {
      color: $brandColor;
    }
  }

  &__info-text {
    font-size: 18px;
  }

  &__info-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 4px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__info-footer {
    width: 100%;
    padding-top: 24px;
  }

  &__profile {
    width: 100%;
    max-width: 474px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__profile-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  &__profile-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 8px;
  }

  &__profile-heading {
    color: $brandColor;
    font-family: $mainFont;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.48px;
  }

  &__profile-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 2px;
  }

  &__profile-text,
  &__profile-link {
    color: $black;
    font-family: $mainFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: -0.4px;
  }

  &__map {
    width: 100%;
    max-width: 666px;
    border-radius: 24px;
    overflow: hidden;
  }
}

.footer {
  width: 100%;
  margin-top: 108px;
  padding: 21px 0;
  background: #f8f8f8;
  &__wrapper {
    gap: 16px;
    justify-content: space-between;
  }

  &__text {
    color: $gray;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__policy-link {
    transition: $defTransitionTime;
    &:hover {
      color: $brandColor;
    }
  }
}

.articles-section {
  margin-bottom: 88px;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__date-filter {
    width: 100%;
    height: 92px;
    margin-bottom: 72px;
    display: flex;
    align-items: end;
    gap: 32px;
    overflow-x: auto;

    overflow-y: hidden;
  }

  &__swiper-slide {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
  }

  &__date-filter-link {
    width: fit-content;
    color: rgba($color: $black, $alpha: 0.4);
    font-family: $mainFont;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.84px;
    transition: $defTransitionTime;
    &:hover {
      color: $brandColor;
    }
    &.active {
      color: $black;
      font-family: $mainFont;
      font-size: 92px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 92px */
      letter-spacing: -3.68px;
    }
  }

  &__list {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  &__list-item {
    width: 100%;
    &-heading {
      color: $black;
      font-family: $mainFont;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 95%; /* 30.4px */
      letter-spacing: -0.64px;
    }
  }

  &__list-item-link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 24px;
  }

  &__list-item-img-wrapper {
    width: 100%;
    height: 636px;
    overflow: hidden;
    border-radius: 24px;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__list-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: $defTransitionTime;
  }

  &__pagination {
  }

  &__pagination-link {
  }
}

.article-section {
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    margin-bottom: 25px;
    color: $black;
    font-family: $mainFont;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 45.6px */
    letter-spacing: -0.96px;
  }

  &__date {
    margin-bottom: 56px;
    color: rgba($color: $black, $alpha: 0.4);
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  &__img {
    width: 100%;
    height: 684px;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
  }

  &__text-content {
    max-width: 868px;
    margin: 0 auto;
    h2 {
      margin-top: 72px;
      margin-bottom: 40px;
      color: $black;
      font-family: $mainFont;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 95%; /* 38px */
      letter-spacing: -0.8px;
    }
    h3 {
      margin-top: 36px;
      margin-bottom: 24px;
      color: $gray;
      font-family: $mainFont;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 95%; /* 38px */
      letter-spacing: -0.8px;
    }
    p {
      margin-bottom: 16px;
      span,
      a {
        color: $brandColor;
      }
      a {
        transition: $defTransitionTime;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p,
    li {
      color: $black;
      font-family: $mainFont;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 26px */
      letter-spacing: -0.4px;
    }
    ol {
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 12px;
      list-style-type: decimal;
      list-style-position: outside;
      margin-left: 15px;
    }
    ul {
      list-style-type: disc;
      margin-left: 15px;
      list-style-position: outside;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 12px;
      margin-bottom: 32px;
    }
    img {
      width: 100%;
      margin-top: 72px;
      margin-bottom: 96px;
      // height: 269px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  &__link {
    position: relative;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    &.active {
      color: rgba($color: $black, $alpha: 0.4);
    }
    &:not(:last-child) {
      padding-right: 20px;
      &::after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url('../assets/icons/breadcrumb-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.pagination {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    border-radius: 50%;
    transition: $defTransitionTime;
    &:hover {
      background-color: rgba($color: $brandColor, $alpha: 0.5);
    }
    &.active {
      color: $white;
      background-color: $brandColor;
    }
  }
}

.catalog-section {
  margin-bottom: 72px;
  &__wrapper {
    align-items: flex-start;
    justify-content: start;
    gap: 40px;
  }

  &__filters {
    width: 100%;
    max-width: 250px;
    position: sticky;
    left: 0;
    top: 96px;
    padding-top: 32px;
  }

  &__filters-heading {
    margin-bottom: 24px;
    color: $black;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    text-transform: uppercase;
  }

  &__filters-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 24px;
  }

  &__filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    &.active {
      .catalog-section__filter-content {
        margin-top: 16px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__filter-header {
    width: 100%;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    cursor: pointer;
  }

  &__filter-content {
    display: flex;
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
    justify-content: start;
    gap: 12px;
    transition: $defTransitionTime;
  }

  &__filter-label {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    cursor: pointer;
    &:hover {
      color: $brandColor;
    }
    input:checked + div {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../assets/icons/check-icon.svg');
    }
  }

  &__filter-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid $brandColor;
    flex-shrink: 0;
  }

  &__filter-reset-btn {
    margin-top: 48px;
    width: 100%;
    padding: 13px;
    text-align: center;
    border-radius: 8px;
    background: #ebebeb;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    cursor: pointer;
    transition: $defTransitionTime;
    outline: 1px solid transparent;
    &:hover {
      background-color: $white;
      outline: 1px solid #ebebeb;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__body {
    width: 100%;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  &__list-item {
    width: 100%;
  }

  &__list-item-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px;
    border-radius: 24px;
    border: 1px solid #ebebeb;
    background: $white;
    transition: $defTransitionTime;
    &:hover {
      border-color: $brandColor;
    }
  }

  &__list-item-img-wrapper {
    margin: auto;
    width: 100%;
    height: 210px;
  }

  &__list-item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__list-item-heading {
    color: $black;
    display: -webkit-box;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__pagination {
    margin-top: 40px;
    margin-left: 296px;
  }
}

.item-section {
  margin-bottom: 96px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 40px;
  }
  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__content {
    max-width: 733px;
  }

  &__content-img {
    width: 100%;
    height: 577px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 64px;
  }

  &__text-content {
    h2 {
      margin-top: 64px;
      margin-bottom: 24px;
      color: rgba($color: $black, $alpha: 0.4);
      font-family: $mainFont;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.28px;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 16px;
      span,
      a {
        color: $brandColor;
      }
      a {
        transition: $defTransitionTime;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p,
    li {
      color: $black;
      font-family: $mainFont;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 26px */
      letter-spacing: -0.4px;
    }
    ul {
      list-style-type: disc;
      margin-left: 15px;
      list-style-position: outside;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 12px;
      margin-bottom: 32px;
    }
    ol {
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 12px;
      list-style-type: decimal;
      list-style-position: outside;
      margin-left: 15px;
    }
    img {
      width: 100%;
      margin-top: 72px;
      margin-bottom: 96px;
      // height: 269px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    position: sticky;
    right: 0;
    top: 96px;
    // flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    &-img {
      display: none;
    }
  }

  &__info-heading {
    margin-bottom: 24px;
    color: $black;
    font-family: $mainFont;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 41.6px */
    letter-spacing: -0.64px;
  }

  &__price {
    margin-bottom: 40px;
    color: $brandColor;
    font-family: $mainFont;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  &__info {
    &-list {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 24px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 12px;
    }
  }

  &__info-item-heading {
    color: $black;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  &__info-item-list {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__info-item-list-link {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    color: #111;
    font-family: Suisse Intl;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    transition: $defTransitionTime;
    cursor: pointer;
    &:hover {
      border-color: $brandColor;
    }
    &.active {
      border-color: $brandColor;
    }
  }

  &__info-color-link {
    padding-left: 12px + 55px;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    background-image: url('../assets/img/color.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

@media (max-width: 1280px) {
  .header {
    margin-bottom: 96px;

    &__nav {
      &-link {
        font-size: 16px;
      }
    }
    &__social-link {
      margin-right: 4px;
    }
    &__tel-link {
      margin-right: 24px;
    }
    &__btn {
      padding-right: 25px;
      gap: 14px;
    }
  }
  .btn {
    svg {
      width: 18px;
      height: 18px;
    }
    &__caption {
      font-size: 16px;
    }
  }
  .tel-link {
    font-size: 16px;
  }

  .heading {
    font-size: 72px;
  }

  .subheading {
    font-size: 48px;
  }

  .promo-section {
    &__video {
      height: 640px;
    }
  }
  p,
  .text {
    font-size: 18px;
  }
}

@media (max-width: 1196px) {
  .promo-section {
    &__video-wrapper {
      &::before,
      &::after {
        width: 220px;
        height: 220px;
      }
    }
  }

  .advantages-section {
    &__list {
      grid-template-rows: repeat(2, 374px);
      &-item {
        padding: 32px 24px;
        &-heading {
          font-size: 24px;
        }
        &-subheading {
          font-size: 18px;
        }
        &-count {
          font-size: 72px;
        }
        &-img {
          max-width: 196px;
        }
      }
    }
  }
  .about-section {
    padding: 0;
    &__wrapper {
      margin-bottom: 64px;
    }
    &__overlay {
      min-height: 640px;
      &-popup {
        max-width: 256px;
        padding: 16px;
        &-img {
          height: 120px;
        }
        &-btn {
          padding: 10px 24px;
        }
      }
      &-message {
        padding-bottom: 79px;
        &-text {
          padding: 12px 17px;
          font-size: 18px;
        }
        &_second {
          right: 24%;
          bottom: 36%;
        }
        &_first {
          .about-section__overlay-popup {
            top: 42%;
          }
        }
      }
    }
  }

  .owner-section {
    padding: 120px 0;
    &__review-text {
      max-width: 720px;
    }
    &__name {
      font-size: 28px;
    }
    &__who {
      font-size: 16px;
    }
  }

  .dev-section {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 280px);
      &-item {
        padding: 24px;
        &-img {
          height: 180px;
        }
        &-heading {
          font-size: 24px;
        }
        &-hidden-text {
          font-size: 24px;
        }
      }
    }
  }

  .projects-section {
    &__swiper {
      max-width: 540px;
      height: 640px;
      &-slide {
        border-radius: 24px;
        overflow: hidden;
      }
    }
  }

  .contacts-section {
    &__info {
      &-address {
        font-size: 28px;
      }
    }
    &__profile {
      &-heading {
        font-size: 20px;
      }
      &-text &-link {
        font-size: 16px;
      }
    }
  }

  .breadcrumbs {
    margin-bottom: 24px;
    &__link {
      font-size: 16px;
    }
  }
  .article-section {
    &__heading {
      font-size: 32px;
    }
    &__date {
      font-size: 16px;
      margin-bottom: 24px;
    }
    &__img {
      height: 480px;
    }
    &__text-content {
      h2 {
        margin-top: 48px;
        font-size: 32px;
        margin-bottom: 24px;
      }
      p,
      li {
        font-size: 16px;
      }
      img {
        margin-bottom: 32px;
      }
    }
  }

  .catalog-section__list {
    &-item {
      &-wrapper {
        height: 320px;
      }
    }
  }

  .item-section {
    &__content {
      &-img {
        max-width: 400px;
        height: auto;
        margin-bottom: 64px;
      }
    }
  }

  .item-section {
    &__text-content {
      h2 {
        margin-top: 48px;
        margin-bottom: 24px;
      }
      p,
      li {
        font-size: 16px;
      }
      img {
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 1096px) {
  .main {
    margin-top: 100px;
  }
  .mobile-menu {
    display: flex;
  }

  .footer {
    padding-bottom: 100px;
  }
  .header {
    padding: 0;
    margin: 0;
    &__nav {
      display: none;
    }
    &__btn {
      position: fixed;
      right: 32px;
      bottom: 32px;
    }
    &__burger-btn {
      display: block;
    }
    &__wrapper {
      padding-right: 0;
    }
  }
  .catalog-section {
    &__wrapper {
      gap: 24px;
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
      &-item {
        &-img {
          &-wrapper {
            height: 132px;
          }
        }
        &-wrapper {
          // height: 320px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
  .heading {
    font-size: 48px;
  }

  .promo-section {
    &__video {
      height: 480px;
    }
  }

  .advantages-section {
    &__list {
      grid-template-rows: repeat(2, 307px);
      &-item {
        &-heading {
          font-size: 18px;
        }
        &-img {
          max-width: 160px;
        }
      }
    }
  }
  .contacts-section__info-address {
    font-size: 20px;
  }
  .contacts-section__info-body {
    gap: 40px;
  }
  .contacts-section__socials {
    gap: 16px;
  }
}

@media (max-width: 920px) {
  .subheading {
    font-size: 36px;
  }

  p,
  .text {
    font-size: 16px;
  }

  .advantages-section {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 307px);
    }
  }

  .about-section {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__overlay {
      &-message {
        &_second {
          right: unset;
          .about-section__overlay-popup {
            top: 40%;
          }
        }
        &-text {
          font-size: 16px;
        }
      }
    }
  }
  .owner-section {
    &__review {
      background-size: 32px;
    }
  }
  .dev-section {
    &__content {
      margin-bottom: 48px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__list {
      grid-template-rows: repeat(3, 240px);
      &-item {
        &-img {
          height: 120px;
        }
      }
    }
  }
  .projects-section {
    margin: 72px 0;
    &__swiper {
      max-width: 420px;
      height: 501px;
    }
  }
  .contacts-section {
    &__wrapper {
      gap: 64px;
    }
    &__info {
      max-width: unset;
      &-text {
        font-size: 16px;
      }
      &-body {
        padding: 32px 0;
      }
    }
    &__map {
      max-width: unset;
      height: 360px;
    }
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__profile {
      gap: 18px;
      &-avatar {
        width: 72px;
        height: 72px;
      }
      &-heading {
        font-size: 18px;
      }
      &-text,
      &-link {
        font-size: 16px;
      }
    }
  }

  .articles-section {
    &__date-filter-link {
      font-size: 48px;
    }

    &__date-filter-link.active {
      font-size: 72px;
    }
    &__list-item {
      &-img {
        &-wrapper {
          height: 360px;
        }
      }
      &-heading {
        font-size: 28px;
      }
    }
    &__pagination {
      margin-top: 48px;
    }
  }
}

@media (max-width: 767px) {
  .promo-section {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__video {
      height: 320px;
    }
  }
  .advantages-section {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      &-item {
        height: 270px;
      }
    }
  }
  .about-section {
    &__overlay {
      min-height: 520px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &-message {
        position: static;
        padding: 0;
        background: none;
        margin-right: auto;
        &:last-child {
          margin-left: auto;
          margin-right: 0;
        }
      }
      &-popup {
        left: 0;
        right: 0;
        top: 100px !important;
        margin: 0 auto;
      }
    }
  }
  .articles-section {
    &__date-filter-link {
      font-size: 32px;
    }

    &__date-filter-link.active {
      font-size: 48px;
    }
    &__list-item-img-wrapper {
      height: 320px;
    }
    &__list-item-heading {
      font-size: 20px;
    }
  }

  .catalog-section {
    &__filters {
      &-heading {
        font-size: 16px;
      }
    }
    &__list {
      &-item {
        &-wrapper {
          padding: 12px 14px;
        }
      }
    }
    &__filter {
      &-header {
        font-size: 16px;
      }
      &-label {
        font-size: 14px;
      }
      &-reset-btn {
        font-size: 14px;
      }
    }
  }
  .item-section {
    &__content {
      &-img {
        max-width: 240px;
      }
    }
    &__row {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__info {
      &-heading {
        font-size: 24px;
      }
    }
    &__content {
      &-img {
        max-width: 420px;
      }
    }
  }
}

@media (max-width: 675px) {
  .catalog-section {
    &__list {
      grid-template-columns: 1fr;
    }
    &__pagination {
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: 48px;
    }
  }

  .item-section {
    &__info {
      &-heading {
        font-size: 28px;
      }
    }
    &__content-img {
      height: 240px;
    }
  }
}

@media (max-width: 625px) {
  .promo-section {
    &__video-wrapper {
      &::before,
      &::after {
        width: 120px;
        height: 120px;
      }
    }
  }
  .advantages-section {
    padding-top: 18px;
  }
  .dev-section {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: start;
      &-item {
        height: 240px;
      }
    }
  }
  .projects-section {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__tabs {
      min-height: 160px;
    }
    &__swiper {
      max-width: unset;
    }
  }
  .owner-section {
    &__review {
      padding: 0px 48px;
    }
  }
  .article-section {
    &__img {
      height: 240px;
    }
    &__text-content {
      img {
        margin: 16px 0;
      }
      h2 {
        font-size: 24px;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 575px) {
  .catalog-section {
    &__filters {
      max-width: 190px;
    }
  }

  .item-section {
    &__wrapper {
      gap: 16px;
      display: flex;
      flex-direction: column-reverse;
    }
    &__content {
      &-img {
        display: none;
      }
    }
    &__info {
      position: static;
      &-img {
        display: initial;
        width: 100%;
      }
      &-item {
        &-list {
          align-items: flex-start;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .breadcrumbs {
    &__link {
    }
  }
  .article-section {
    &__heading {
      font-size: 28px;
    }
  }
}

@media (max-width: 485px) {
  .catalog-section {
    &__wrapper {
      flex-direction: column;
    }
    &__filters {
      max-width: unset;
      position: static;
      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .logo {
    width: 96px;
    height: auto;
  }
  .header {
    &__menu {
      margin-left: auto;
    }
    &__logo-year {
      right: -24px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    &__tel-link {
      margin-right: 0;
      font-size: 14px;
    }
    &__social-link {
      margin: 0;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .ham {
      width: 48px;
      height: 48px;
    }
  }
  .mobile-menu {
    height: calc(100% - 51px);
    top: 51px;
  }
}

@media (max-width: 425px) {
  .contacts-section__info-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .projects-section__swiper {
    height: 320px;
  }
  .heading {
    font-size: 32px;
    letter-spacing: -0.68px;
  }

  .breadcrumbs {
    &__link {
      font-size: 12px;
    }
  }
  .article-section {
    &__date {
      font-size: 14px;
    }
  }
  .catalog-section {
    &__wrapper {
      flex-direction: column;
    }
    &__filters {
      max-width: unset;
      &-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &__social-link {
      display: none;
    }
  }
}
