.logo {
  width: 107px;
  height: 17.258px;
  object-fit: contain;
  object-position: center;
}

.tel-link {
  color: $brandColor;
  font-family: $mainFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
