@font-face {
  font-family: "Suisse Intl";
  font-weight: 300;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-Light.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-LightItalic.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 400;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-Regular.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-RegularItalic.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 500;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-Medium.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-MediumItalic.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 600;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-SemiBold.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-SemiBoldItalic.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 700;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-Bold.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-BoldItalic.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 900;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-Book.otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/SuisseIntl/SuisseIntl-BlackItalic.otf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
}

* {
  box-sizing: border-box;
}

*::-moz-selection {
  color: #fff;
  background-color: #ff7707;
}

*::selection {
  color: #fff;
  background-color: #ff7707;
}
*::-moz-selection {
  color: #fff;
  background-color: #ff7707;
}

body {
  position: relative;
  min-width: 320px;
  font-family: "Suisse Intl", sans-serif;
}
body.no-scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1344px;
  padding: 0px 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.heading {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 92px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 92px */
  letter-spacing: -3.68px;
}
.heading__highlight {
  color: #ff7707;
}

.text, .dev-section__text-content p, .about-section__text-content p {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.48px;
}

.subheading {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: -2.56px;
}
.subheading_brand, .subheading span {
  color: #ff7707;
}
.subheading_white {
  color: #fff;
}
.btn {
  padding: 12px;
  border-radius: 8px;
  background: #111;
  color: #fff;
  transition: 0.43s;
}
.btn_icon {
  display: flex;
  align-items: center;
  gap: 23px;
}
.btn__icon svg {
  width: 24px;
  height: 24px;
}
.btn__icon svg path {
  transition: 0.43s;
}
.btn__caption {
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.btn:hover {
  color: #111;
  background-color: #fff;
  outline: 1px solid #111;
}
.btn:hover path {
  fill: #111;
}
.btn:active {
  transform: scale(0.95);
}

.header {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  margin-bottom: 140px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: #fff;
}
.header__wrapper {
  justify-content: space-between;
}
.header__logo-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: flex-end;
}
.header__logo-year {
  position: absolute;
  right: -33px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__nav-link {
  position: relative;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
.header__nav-link:hover {
  color: #ff7707;
}
.header__social-link {
  margin-right: 12px;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__tel-link {
  margin-right: 28px;
}
.header__btn {
  padding-right: 51px;
}
.header__burger-btn {
  display: none;
}
.header__burger-btn:focus {
  outline: none;
}

.ham {
  width: 64px;
  height: 64px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ff7707;
  stroke-width: 6;
  stroke-linecap: round;
}

.main {
  margin-top: 230px;
}

.logo {
  width: 107px;
  height: 17.258px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.tel-link {
  position: relative;
  color: #ff7707;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.tel-link:hover {
  color: #111;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 67px);
  background-color: #fff;
  z-index: 20;
  padding: 32px;
  top: 67px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  overflow-y: auto;
  gap: 32px;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid rgba(153, 153, 153, 0.2);
  transition: 0.43s;
  display: none;
}
.mobile-menu.active {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  gap: 24px;
}
.mobile-menu__nav-link {
  font-size: 18px;
}
.mobile-menu__btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
}

.promo-section__wrapper {
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 64px;
}
.promo-section__slogan {
  max-width: 325px;
  font-size: 22px;
}
.promo-section__video {
  width: 100%;
  height: 810px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 48px 48px 0px 0px;
  background: #ff7707;
}
.promo-section__video-wrapper {
  position: relative;
  z-index: 1;
}
.promo-section__video-wrapper::after {
  content: "";
  width: 556px;
  height: 554.25px;
  position: absolute;
  background-image: url("../assets/img/player-lines.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  left: 0;
  bottom: 0;
}
.promo-section__video-wrapper::before {
  content: "";
  width: 351.11px;
  height: 350px;
  position: absolute;
  background-image: url("../assets/img/player-lines-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  right: 0;
  top: 0;
}

.advantages-section {
  position: relative;
  top: -81px;
  border-radius: 48px;
  background: #fff;
  z-index: 2;
  padding: 48px 0;
}
.advantages-section__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 512px);
  gap: 8px;
}
.advantages-section__list-item-video {
  z-index: -1;
}
.advantages-section__list-item-video, .advantages-section__list-item-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.advantages-section__list-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 32px;
  border-radius: 32px;
  border: 1px solid #ebebeb;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: 0.43s;
}
.advantages-section__list-item:first-child, .advantages-section__list-item:nth-child(3) {
  background-image: url("../assets/img/advantages-lines-1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.advantages-section__list-item:nth-child(2) {
  background-image: url("../assets/img/advantages-lines-2.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
.advantages-section__list-item_count {
  align-items: flex-start;
  justify-content: start;
}
.advantages-section__list-item_video:hover video {
  opacity: 1;
}
.advantages-section__list-item_video:hover .advantages-section__list-item-subheading,
.advantages-section__list-item_video:hover .advantages-section__list-item-count {
  color: #fff;
}
.advantages-section__list-item_video.view video {
  opacity: 1;
}
.advantages-section__list-item_video.view .advantages-section__list-item-subheading,
.advantages-section__list-item_video.view .advantages-section__list-item-count {
  color: #fff;
}
.advantages-section__list-item_image-black:hover {
  background-color: #111;
}
.advantages-section__list-item_image-black:hover .advantages-section__list-item-bg {
  opacity: 1;
}
.advantages-section__list-item_image-black.view {
  background-color: #111;
}
.advantages-section__list-item_image-black.view .advantages-section__list-item-bg {
  opacity: 1;
}
.advantages-section__list-item_image:hover .advantages-section__list-item-subheading,
.advantages-section__list-item_image:hover .advantages-section__list-item-count {
  color: #fff;
}
.advantages-section__list-item_image.view .advantages-section__list-item-subheading,
.advantages-section__list-item_image.view .advantages-section__list-item-count {
  color: #fff;
}
.advantages-section__list-item-heading {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.58px;
}
.advantages-section__list-item-heading span {
  color: #ff7707;
}
.advantages-section__list-item-img {
  width: 100%;
  max-width: 320px;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantages-section__list-item-subheading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
  color: rgba(17, 17, 17, 0.4);
  font-family: "Suisse Intl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  transition: 0.43s;
  z-index: 4;
}
.advantages-section__list-item-count {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.56px;
  transition: 0.43s;
  z-index: 4;
}
.advantages-section__list-item-video {
  transition: 0.43s;
  opacity: 0;
}
.advantages-section__list-item-bg {
  opacity: 0;
  transition: 0.43s;
}
.advantages-section__list-item-bg_80 {
  width: 97%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.about-section {
  padding-top: 57px;
}
.about-section__wrapper {
  margin-bottom: 128px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
}
.about-section__text-content {
  max-width: 604px;
}
.about-section__text-content p span {
  color: #ff7707;
}
.about-section__overlay {
  position: relative;
  width: 100%;
  padding: 40px 32px;
  min-height: 900px;
  border-radius: 48px;
  background-color: #ff7707;
  background-image: url("../assets/img/about-bg.png"), url("../assets/img/about-lines-1.svg"), url("../assets/img/about-lines-2.svg");
  background-size: cover, auto, auto;
  background-repeat: no-repeat;
  background-position: center, left top, bottom right;
}
.about-section__overlay-message {
  position: absolute;
  padding-bottom: 204px;
  background-image: url("../assets/img/about-message-line.svg");
  background-repeat: no-repeat;
  background-position: right 75px bottom;
  transition: 0.43s;
}
.about-section__overlay-message.hidden {
  opacity: 0;
  visibility: hidden;
}
.about-section__overlay-message:hover .about-section__overlay-popup {
  opacity: 1;
  visibility: visible;
}
.about-section__overlay-message_first {
  top: 40px;
  left: 32px;
}
.about-section__overlay-message_second {
  padding-bottom: 101px;
  right: 315px;
  bottom: 217px;
  background-image: url("../assets/img/about-message-line-2.svg");
}
.about-section__overlay-message-text {
  padding: 20px 24px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  color: #fff;
  font-family: "Suisse Intl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.about-section__overlay-popup {
  position: absolute;
  left: 90%;
  width: 100%;
  max-width: 310px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 24px 16px;
  border-radius: 24px;
  border: 1px solid #ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  visibility: hidden;
  opacity: 0;
  transition: 0.43s;
  z-index: 10;
}
.about-section__overlay-popup.active {
  opacity: 1;
  visibility: visible;
}
.about-section__overlay-popup-img {
  width: 100%;
  height: 172px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-section__overlay-popup-heading {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.about-section__overlay-popup-btn {
  padding: 14px 24px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.owner-section {
  padding-top: 128px;
  padding-bottom: 190px;
}
.owner-section__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.owner-section__review {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/img/right-blockquote.svg"), url("../assets/img/blockquote-left.svg");
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}
.owner-section__review-img {
  width: 104px;
  height: 104px;
  margin-bottom: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.owner-section__review-text {
  font-size: 34px;
  margin-bottom: 56px;
}
.owner-section__review-text span {
  color: #ff7707;
}
.owner-section__name {
  margin-bottom: 18px;
  color: #ff7707;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 30.4px */
  letter-spacing: -1.28px;
}
.owner-section__who {
  max-width: 289px;
  color: #111;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.dev-section {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: #ff7707;
  border-radius: 48px;
}
.dev-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.dev-section__content {
  width: 100%;
  margin-bottom: 104px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 28px;
}
.dev-section__text-content {
  max-width: 604px;
}
.dev-section__text-content p {
  color: #fff;
}
.dev-section__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 453px);
  gap: 8px;
}
.dev-section__list-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  padding: 40px 32px;
  border: 1px solid #ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("../assets/img/dev-card-ines.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: 0.43s;
}
.dev-section__list-item:hover {
  background-color: #111;
  border: 1px solid #111;
  background-image: none;
}
.dev-section__list-item:hover .dev-section__list-item-heading, .dev-section__list-item:hover .dev-section__list-item-hidden-text {
  opacity: 0;
  visibility: hidden;
}
.dev-section__list-item:hover .dev-section__list-item-hidden-text {
  opacity: 1;
  visibility: visible;
}
.dev-section__list-item-heading, .dev-section__list-item-hidden-text {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 31.9px */
  letter-spacing: -0.58px;
  transition: 0.43s;
}
.dev-section__list-item-hidden-text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: #fff;
}
.dev-section__list-item-img {
  width: 95%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.projects-section {
  margin-top: 80px;
  margin-bottom: 161px;
}
.projects-section__wrapper {
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
}
.projects-section__info {
  max-width: 528px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  gap: 40px;
}
.projects-section__tabs {
  position: relative;
  width: 100%;
}
.projects-section__tab {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 40px;
  visibility: hidden;
  opacity: 0;
  transition: 0.43s;
}
.projects-section__tab.active {
  opacity: 1;
  visibility: visible;
}
.projects-section__tab-text {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.56px;
}
.projects-section__tab-subtext {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Suisse Intl", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.56px;
}
.projects-section__swiper {
  width: 100%;
  max-width: 666px;
  border-radius: 16px;
  padding-bottom: 29px;
  overflow: hidden;
  margin: 0;
}
.projects-section__swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 119, 7, 0.4);
  opacity: 1;
}
.projects-section__swiper .swiper-pagination-bullet-active {
  background-color: #ff7707;
}
.projects-section__swiper-slide {
  position: relative;
}
.projects-section__swiper-slide::after {
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../assets/img/slide-lines.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 11;
}
.projects-section__swiper-navigation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0px 24px;
}
.projects-section__swiper-nav-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.43s;
}
.projects-section__swiper-nav-btn:hover {
  transform: scale(1.1);
}
.projects-section__swiper-nav-btn:active {
  transform: scale(0.95);
}
.projects-section__swiper-pagination {
  width: 100%;
}
.projects-section__swiper-slide {
  width: 100%;
}
.projects-section__swiper-slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-disabled {
  opacity: 0.4;
}

.contacts-section__wrapper {
  justify-content: space-between;
  gap: 16px;
}
.contacts-section__info {
  width: 100%;
  max-width: 535px;
}
.contacts-section__info-header {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
}
.contacts-section__info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.contacts-section__info-item_large {
  gap: 21px;
}
.contacts-section__info-item-heading {
  color: #ff7707;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.contacts-section__info-address {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
}
.contacts-section__info-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  padding: 70px 0;
  border-bottom: 1px solid #ebebeb;
}
.contacts-section__info-item-link {
  font-size: 18px;
  transition: 0.43s;
}
.contacts-section__info-item-link:hover {
  color: #ff7707;
}
.contacts-section__info-text {
  font-size: 18px;
}
.contacts-section__info-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 4px;
}
.contacts-section__socials {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contacts-section__info-footer {
  width: 100%;
  padding-top: 24px;
}
.contacts-section__profile {
  width: 100%;
  max-width: 474px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-section__profile-avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.contacts-section__profile-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 8px;
}
.contacts-section__profile-heading {
  color: #ff7707;
  font-family: "Suisse Intl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.48px;
}
.contacts-section__profile-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 2px;
}
.contacts-section__profile-text, .contacts-section__profile-link {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  letter-spacing: -0.4px;
}
.contacts-section__map {
  width: 100%;
  max-width: 666px;
  border-radius: 24px;
  overflow: hidden;
}

.footer {
  width: 100%;
  margin-top: 108px;
  padding: 21px 0;
  background: #f8f8f8;
}
.footer__wrapper {
  gap: 16px;
  justify-content: space-between;
}
.footer__text {
  color: #999;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__policy-link {
  transition: 0.43s;
}
.footer__policy-link:hover {
  color: #ff7707;
}

.articles-section {
  margin-bottom: 88px;
}
.articles-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.articles-section__date-filter {
  width: 100%;
  height: 92px;
  margin-bottom: 72px;
}
.articles-section__swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}
.articles-section__date-filter-link {
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(17, 17, 17, 0.4);
  font-family: "Suisse Intl", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.84px;
  transition: 0.43s;
}
.articles-section__date-filter-link:hover {
  color: #ff7707;
}
.articles-section__date-filter-link.active {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 92px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 92px */
  letter-spacing: -3.68px;
}
.articles-section__list {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.articles-section__list-item {
  width: 100%;
}
.articles-section__list-item-heading {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 30.4px */
  letter-spacing: -0.64px;
}
.articles-section__list-item-link-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
}
.articles-section__list-item-img-wrapper {
  width: 100%;
  height: 636px;
  overflow: hidden;
  border-radius: 24px;
}
.articles-section__list-item-img-wrapper:hover img {
  transform: scale(1.1);
}
.articles-section__list-item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.43s;
}
.article-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.article-section__heading {
  margin-bottom: 25px;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 45.6px */
  letter-spacing: -0.96px;
}
.article-section__date {
  margin-bottom: 56px;
  color: rgba(17, 17, 17, 0.4);
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
.article-section__img {
  width: 100%;
  height: 684px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 24px;
}
.article-section__text-content {
  max-width: 868px;
  margin: 0 auto;
}
.article-section__text-content h2 {
  margin-top: 72px;
  margin-bottom: 40px;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 38px */
  letter-spacing: -0.8px;
}
.article-section__text-content p {
  margin-bottom: 16px;
}
.article-section__text-content p span,
.article-section__text-content p a {
  color: #ff7707;
}
.article-section__text-content p a {
  transition: 0.43s;
}
.article-section__text-content p a:hover {
  text-decoration: underline;
}
.article-section__text-content p,
.article-section__text-content li {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  letter-spacing: -0.4px;
}
.article-section__text-content ol {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 15px;
}
.article-section__text-content ul {
  list-style-type: disc;
  margin-left: 15px;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
  margin-bottom: 32px;
}
.article-section__text-content img {
  width: 100%;
  margin-top: 72px;
  margin-bottom: 96px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.breadcrumbs__link {
  position: relative;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
.breadcrumbs__link.active {
  color: rgba(17, 17, 17, 0.4);
}
.breadcrumbs__link:not(:last-child) {
  padding-right: 20px;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../assets/icons/breadcrumb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pagination {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
}
.pagination__link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  border-radius: 50%;
  transition: 0.43s;
}
.pagination__link:hover {
  background-color: rgba(255, 119, 7, 0.5);
}
.pagination__link.active {
  color: #fff;
  background-color: #ff7707;
}

.catalog-section {
  margin-bottom: 72px;
}
.catalog-section__wrapper {
  align-items: flex-start;
  justify-content: start;
  gap: 40px;
}
.catalog-section__filters {
  width: 100%;
  max-width: 250px;
  position: sticky;
  left: 0;
  top: 96px;
  padding-top: 32px;
}
.catalog-section__filters-heading {
  margin-bottom: 24px;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.catalog-section__filters-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
}
.catalog-section__filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.catalog-section__filter.active .catalog-section__filter-content {
  margin-top: 16px;
  opacity: 1;
  visibility: visible;
}
.catalog-section__filter-header {
  width: 100%;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  cursor: pointer;
}
.catalog-section__filter-content {
  display: flex;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
  justify-content: start;
  gap: 12px;
  transition: 0.43s;
}
.catalog-section__filter-label {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  cursor: pointer;
}
.catalog-section__filter-label:hover {
  color: #ff7707;
}
.catalog-section__filter-label input:checked + div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/icons/check-icon.svg");
}
.catalog-section__filter-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #ff7707;
  flex-shrink: 0;
}
.catalog-section__filter-reset-btn {
  margin-top: 48px;
  width: 100%;
  padding: 13px;
  text-align: center;
  border-radius: 8px;
  background: #ebebeb;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  cursor: pointer;
  transition: 0.43s;
  outline: 1px solid transparent;
}
.catalog-section__filter-reset-btn:hover {
  background-color: #fff;
  outline: 1px solid #ebebeb;
}
.catalog-section__filter-reset-btn:active {
  transform: scale(0.95);
}
.catalog-section__body {
  width: 100%;
}
.catalog-section__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.catalog-section__list-item {
  width: 100%;
}
.catalog-section__list-item-wrapper {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 32px;
  border-radius: 24px;
  border: 1px solid #ebebeb;
  background: #fff;
  transition: 0.43s;
}
.catalog-section__list-item-wrapper:hover {
  border-color: #ff7707;
}
.catalog-section__list-item-img-wrapper {
  margin: auto;
  width: 100%;
  height: 210px;
}
.catalog-section__list-item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.catalog-section__list-item-heading {
  color: #111;
  display: -webkit-box;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-section__pagination {
  margin-top: 40px;
  margin-left: 296px;
}

.item-section__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 40px;
}
.item-section__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.item-section__content {
  max-width: 733px;
}
.item-section__content-img {
  width: 100%;
  height: 577px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.item-section__text-content h2 {
  margin-top: 64px;
  margin-bottom: 24px;
  color: rgba(17, 17, 17, 0.4);
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.item-section__text-content p {
  margin-bottom: 16px;
}
.item-section__text-content p span,
.item-section__text-content p a {
  color: #ff7707;
}
.item-section__text-content p a {
  transition: 0.43s;
}
.item-section__text-content p a:hover {
  text-decoration: underline;
}
.item-section__text-content p,
.item-section__text-content li {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  letter-spacing: -0.4px;
}
.item-section__text-content ul {
  list-style-type: disc;
  margin-left: 15px;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
  margin-bottom: 32px;
}
.item-section__text-content ol {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 15px;
}
.item-section__text-content img {
  width: 100%;
  margin-top: 72px;
  margin-bottom: 96px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.item-section__info {
  position: sticky;
  right: 0;
  top: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.item-section__info-img {
  display: none;
}
.item-section__info-heading {
  margin-bottom: 24px;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
  letter-spacing: -0.64px;
}
.item-section__price {
  margin-bottom: 40px;
  color: #ff7707;
  font-family: "Suisse Intl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.item-section__info-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 12px;
}
.item-section__info-item-heading {
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.item-section__info-item-list {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.item-section__info-item-list-link {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  color: #111;
  font-family: Suisse Intl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  transition: 0.43s;
}
.item-section__info-item-list-link:hover {
  border-color: #ff7707;
}
.item-section__info-item-list-link.active {
  border-color: #ff7707;
}
.item-section__info-color-link {
  padding-left: 67px;
  color: #111;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  background-image: url("../assets/img/color.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

@media (max-width: 1280px) {
  .header {
    margin-bottom: 96px;
  }
  .header__nav-link {
    font-size: 16px;
  }
  .header__social-link {
    margin-right: 4px;
  }
  .header__tel-link {
    margin-right: 24px;
  }
  .header__btn {
    padding-right: 25px;
    gap: 14px;
  }
  .btn svg {
    width: 18px;
    height: 18px;
  }
  .btn__caption {
    font-size: 16px;
  }
  .tel-link {
    font-size: 16px;
  }
  .heading {
    font-size: 72px;
  }
  .subheading {
    font-size: 48px;
  }
  .promo-section__video {
    height: 640px;
  }
  p,
  .text,
  .about-section__text-content p,
  .dev-section__text-content p {
    font-size: 18px;
  }
}
@media (max-width: 1196px) {
  .promo-section__video-wrapper::before, .promo-section__video-wrapper::after {
    width: 220px;
    height: 220px;
  }
  .advantages-section__list {
    grid-template-rows: repeat(2, 374px);
  }
  .advantages-section__list-item {
    padding: 32px 24px;
  }
  .advantages-section__list-item-heading {
    font-size: 24px;
  }
  .advantages-section__list-item-subheading {
    font-size: 18px;
  }
  .advantages-section__list-item-count {
    font-size: 72px;
  }
  .advantages-section__list-item-img {
    max-width: 196px;
  }
  .about-section {
    padding: 0;
  }
  .about-section__wrapper {
    margin-bottom: 64px;
  }
  .about-section__overlay {
    min-height: 640px;
  }
  .about-section__overlay-popup {
    max-width: 256px;
    padding: 16px;
  }
  .about-section__overlay-popup-img {
    height: 120px;
  }
  .about-section__overlay-popup-btn {
    padding: 10px 24px;
  }
  .about-section__overlay-message {
    padding-bottom: 79px;
  }
  .about-section__overlay-message-text {
    padding: 12px 17px;
    font-size: 18px;
  }
  .about-section__overlay-message_second {
    right: 24%;
    bottom: 36%;
  }
  .owner-section {
    padding: 120px 0;
  }
  .owner-section__review-text {
    max-width: 720px;
  }
  .owner-section__name {
    font-size: 28px;
  }
  .owner-section__who {
    font-size: 16px;
  }
  .dev-section__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 280px);
  }
  .dev-section__list-item {
    padding: 24px;
  }
  .dev-section__list-item-img {
    height: 180px;
  }
  .dev-section__list-item-heading, .dev-section__list-item-hidden-text {
    font-size: 24px;
  }
  .dev-section__list-item-hidden-text {
    font-size: 24px;
  }
  .projects-section__swiper {
    max-width: 540px;
    height: 640px;
  }
  .projects-section__swiper-slide {
    border-radius: 24px;
    overflow: hidden;
  }
  .contacts-section__info-address {
    font-size: 28px;
  }
  .contacts-section__profile-heading {
    font-size: 20px;
  }
  .contacts-section__profile-text .contacts-section__profile-link {
    font-size: 16px;
  }
  .breadcrumbs {
    margin-bottom: 24px;
  }
  .breadcrumbs__link {
    font-size: 16px;
  }
  .article-section__heading {
    font-size: 32px;
  }
  .article-section__date {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .article-section__img {
    height: 480px;
  }
  .article-section__text-content h2 {
    margin-top: 48px;
    font-size: 32px;
    margin-bottom: 24px;
  }
  .article-section__text-content p,
  .article-section__text-content li {
    font-size: 16px;
  }
  .article-section__text-content img {
    margin-bottom: 32px;
  }
  .catalog-section__list-item-wrapper {
    height: 320px;
  }
  .item-section__content-img {
    max-width: 400px;
    height: auto;
  }
  .item-section__text-content h2 {
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .item-section__text-content p,
  .item-section__text-content li {
    font-size: 16px;
  }
  .item-section__text-content img {
    margin-bottom: 32px;
  }
}
@media (max-width: 1096px) {
  .main {
    margin-top: 100px;
  }
  .mobile-menu {
    display: flex;
  }
  .header {
    padding: 0;
    margin: 0;
  }
  .header__btn, .header__nav {
    display: none;
  }
  .header__burger-btn {
    display: block;
  }
  .header__wrapper {
    padding-right: 0;
  }
  .catalog-section__wrapper {
    gap: 24px;
  }
  .catalog-section__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .catalog-section__list-item-img-wrapper {
    height: 132px;
  }
}
@media (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
  .heading {
    font-size: 48px;
  }
  .promo-section__video {
    height: 480px;
  }
  .advantages-section__list {
    grid-template-rows: repeat(2, 307px);
  }
  .advantages-section__list-item-heading {
    font-size: 18px;
  }
  .advantages-section__list-item-img {
    max-width: 160px;
  }
  .contacts-section__info-address {
    font-size: 20px;
  }
  .contacts-section__info-body {
    gap: 40px;
  }
  .contacts-section__socials {
    gap: 16px;
  }
}
@media (max-width: 920px) {
  .subheading {
    font-size: 36px;
  }
  p,
  .text,
  .about-section__text-content p,
  .dev-section__text-content p {
    font-size: 16px;
  }
  .advantages-section__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 307px);
  }
  .about-section__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .about-section__overlay-message_second {
    right: unset;
  }
  .about-section__overlay-message-text {
    font-size: 16px;
  }
  .owner-section__review {
    background-size: 32px;
  }
  .dev-section__content {
    margin-bottom: 48px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .dev-section__list {
    grid-template-rows: repeat(3, 240px);
  }
  .dev-section__list-item-img {
    height: 120px;
  }
  .projects-section {
    margin: 72px 0;
  }
  .projects-section__swiper {
    max-width: 420px;
    height: 501px;
  }
  .contacts-section__wrapper {
    gap: 64px;
  }
  .contacts-section__info {
    max-width: unset;
  }
  .contacts-section__info-text {
    font-size: 16px;
  }
  .contacts-section__info-body {
    padding: 32px 0;
  }
  .contacts-section__map {
    max-width: unset;
    height: 360px;
  }
  .contacts-section__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .contacts-section__profile {
    gap: 18px;
  }
  .contacts-section__profile-avatar {
    width: 72px;
    height: 72px;
  }
  .contacts-section__profile-heading {
    font-size: 18px;
  }
  .contacts-section__profile-text, .contacts-section__profile-link {
    font-size: 16px;
  }
  .articles-section__date-filter-link {
    font-size: 48px;
  }
  .articles-section__date-filter-link.active {
    font-size: 72px;
  }
  .articles-section__list-item-img-wrapper {
    height: 360px;
  }
  .articles-section__list-item-heading {
    font-size: 28px;
  }
  .articles-section__pagination {
    margin-top: 48px;
  }
}
@media (max-width: 767px) {
  .promo-section__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .promo-section__video {
    height: 320px;
  }
  .advantages-section__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .advantages-section__list-item {
    height: 270px;
  }
  .about-section__overlay {
    min-height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .about-section__overlay-message {
    position: static;
    padding: 0;
    background: none;
    margin-right: auto;
  }
  .about-section__overlay-message:last-child {
    margin-left: auto;
    margin-right: 0;
  }
  .about-section__overlay-popup {
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
  }
  .articles-section__date-filter-link {
    font-size: 32px;
  }
  .articles-section__date-filter-link.active {
    font-size: 48px;
  }
  .articles-section__list-item-img-wrapper {
    height: 320px;
  }
  .articles-section__list-item-heading {
    font-size: 20px;
  }
  .catalog-section__filters-heading {
    font-size: 16px;
  }
  .catalog-section__list-item-wrapper {
    padding: 12px 14px;
  }
  .catalog-section__filter-header {
    font-size: 16px;
  }
  .catalog-section__filter-label {
    font-size: 14px;
  }
  .catalog-section__filter-reset-btn {
    font-size: 14px;
  }
  .item-section__content-img {
    max-width: 240px;
  }
  .item-section__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .item-section__info-heading {
    font-size: 24px;
  }
  .item-section__content-img {
    max-width: 420px;
  }
}
@media (max-width: 675px) {
  .catalog-section__list {
    grid-template-columns: 1fr;
  }
  .catalog-section__pagination {
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 48px;
  }
  .item-section__info-heading {
    font-size: 28px;
  }
  .item-section__content-img {
    height: 240px;
  }
}
@media (max-width: 625px) {
  .promo-section__video-wrapper::before, .promo-section__video-wrapper::after {
    width: 120px;
    height: 120px;
  }
  .advantages-section {
    padding-top: 18px;
  }
  .dev-section__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
  }
  .dev-section__list-item {
    height: 240px;
  }
  .projects-section__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .projects-section__tabs {
    min-height: 160px;
  }
  .projects-section__swiper {
    max-width: unset;
  }
  .owner-section__review {
    padding: 0px 48px;
  }
  .article-section__img {
    height: 240px;
  }
  .article-section__text-content img {
    margin: 16px 0;
  }
  .article-section__text-content h2 {
    font-size: 24px;
    margin-top: 16px;
  }
}
@media (max-width: 575px) {
  .catalog-section__filters {
    max-width: 190px;
  }
  .item-section__wrapper {
    gap: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
  .item-section__content-img {
    display: none;
  }
  .item-section__info {
    position: static;
  }
  .item-section__info-img {
    display: initial;
    width: 100%;
  }
  .item-section__info-item-list {
    align-items: flex-start;
  }
}
@media (max-width: 525px) {
  .article-section__heading {
    font-size: 28px;
  }
}
@media (max-width: 485px) {
  .catalog-section__wrapper {
    flex-direction: column;
  }
  .catalog-section__filters {
    max-width: unset;
    position: static;
  }
  .catalog-section__filters-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .logo {
    width: 96px;
    height: auto;
  }
  .header__menu {
    margin-left: auto;
  }
  .header__logo-year {
    right: -24px;
  }
  .header__logo-year svg {
    width: 18px;
    height: 18px;
  }
  .header__tel-link {
    margin-right: 0;
    font-size: 14px;
  }
  .header__social-link {
    margin: 0;
  }
  .header__social-link svg {
    width: 24px;
    height: 24px;
  }
  .header .ham {
    width: 48px;
    height: 48px;
  }
  .mobile-menu {
    height: calc(100% - 51px);
    top: 51px;
  }
}
@media (max-width: 425px) {
  .contacts-section__info-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .projects-section__swiper {
    height: 320px;
  }
  .heading {
    font-size: 32px;
    letter-spacing: -0.68px;
  }
  .breadcrumbs__link {
    font-size: 12px;
  }
  .article-section__date {
    font-size: 14px;
  }
  .catalog-section__wrapper {
    flex-direction: column;
  }
  .catalog-section__filters {
    max-width: unset;
  }
  .catalog-section__filters-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 375px) {
  .header__social-link {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */